body {
  margin: 0px;
  overflow: hidden;
  font-family: Verdana, sans-serif;
}

.sphere {
  fill: #4242e4;
}

svg {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-width: 0.1px;
}

#screen {
  position: fixed;
  right: 0;
  background-color: lavender;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  width: 400px;
}

h1 {
  margin: 0;
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

.flag {
  font-size: 60px;
  margin: 0;
}
