body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: #4242e4;
}

svg {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-width: 0.1px;
}
